@import '../variables.scss';
.day-container {
	&__day {
		width: 40.285px;
		height: 40.285px;
		border: 1px solid grey;
		background-color: white;
		&:hover {
			box-shadow: inset 0 0px 0px 1.5px rgb(28, 161, 250) !important;
		}

		img {
			width: 70%;
			height: 70%;
			display: flex;
			margin: auto;
		}
		&__line {
			width: 80%;
			height: 3px;
			background-color: rgb(20, 21, 38);
			margin: auto;
			margin-top: 5px;
		}
	}
}

.recede {
	opacity: 0.5;
}
