@import './variables.scss';
.App {
	text-align: center;
	min-height: 100vh;
	@include flexCenter(column);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	justify-content: flex-start !important;
	margin-top: 60px;

	p,
	h1,
	h2,
	h3,
	h4 {
		padding: 0;
		margin: 0;
	}
}
